body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container{
    width: 500px;
    text-align: center;
}

.btn{
    margin: 5px;
    cursor: pointer;
    border: solid 3px teal ;
    background-color: steelblue;
    color: aliceblue;
    border-radius: 3px;
    height: 50px;
    width: 100px;
}
